---
name: Build/Deploy
on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    environment: v4.qubling.cloud
    outputs:
      env-name: ${{ github.ref_name }}
      aws-region: ${{ vars.AWS_DEFAULT_REGION }}
      aws-endpoint-url: ${{ vars.AWS_ENDPOINT_URL }}
      bucket: ${{ vars.BUILD_NUMBER_BUCKET }}
    env:
      BUILD_TAG: ${{ github.run_number }}.${{ github.run_attempt }}
    steps:
    - uses: docker/setup-buildx-action@v3
    - uses: actions/checkout@v5
    - name: Log in to GitHub Container Registry
      run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: ghcr.io/${{ github.repository }}:latest,ghcr.io/${{ github.repository }}:${{ env.BUILD_TAG }}

  record-build:
    needs: build
    uses: zostay/build/.github/workflows/update-build-number.yaml@master
    with:
      app-name: periodic-s3-sync
      env-name: ${{ needs.build.outputs.env-name }}
      aws-region: ${{ needs.build.outputs.aws-region }}
      aws-endpoint-url: ${{ needs.build.outputs.aws-endpoint-url }}
      bucket: ${{ needs.build.outputs.bucket }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
