---
name: GHCR Lifecycle

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  cleanup:
    permissions:
      packages: write
    uses: zostay/build/.github/workflows/ghcr-lifecycle.yaml@master
    with:
      package-name: periodic-s3-sync
      min-versions-to-keep: 10
      delete-after-days: 7
      tag-prefixes: prod-,stg-
    secrets:
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
